**.dll
**.pdb
**.deps.json
**.runtimeconfig.json
**.AssemblyInfo.cs
**.AssemblyInfoInputs.cache
**.GeneratedMSBuildEditorConfig.editorconfig
**.AssemblyReference.cache
**.CoreCompileInputs.cache
**.genruntimeconfig.cache
FourthApplication/bin/Debug/net7.0/FourthApplication
